<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>

  <body>
    <div id="productSection" class="d-flex flex-column justify-content-center">
      <div class="container d-flex flex-row justify-content-center p-2">
        <div>
          <img class="product-image" src="./images/mobile.jpeg" />
        </div>
        <div>
          <h1><%= product.name %></h1>
          <p><%= product.description %></p>
          <p>Cost: <span class="price"><%= product.cost %></span> </p>
          <p>Availability: <span class="availability"><%= product.availability %></span></p>
        </div>
      </div>
    </div>
    
  </body>

</html>